*.cmo
*.cmi
.*.mk

design_docs/*.html
design_docs/*.css

plt_docs/*.aux
plt_docs/*.log
plt_docs/*.pdf
plt_docs/*.dvi
plt_docs/*.ps
plt_docs/*.toc
plt_docs/*.out
plt_docs/*.lol

scanner.ml
parser.ml
parser.mli
bawk

*.sublime-workspace

.DS_Store
